{% extends 'base.html.twig' %}

{% block body%}
<div style="text-align: center">
    <h1>Welcome to Docker-reservation application</h1>
    <h5>This application was created by a student from PK for his diploma work</h5>
    <p>This application demonstrates the capability of docker and symfony </p>
</div>
{% endblock %}